# Session 1 Homework
https://github.com/alexeygrigorev/mlbookcamp-code/blob/master/course-zoomcamp/01-intro/homework.md#session-1-homework

In [1]:
import numpy as np
import pandas as pd

## Question 1
What's the version of NumPy that you installed?

In [2]:
np.__version__

'1.20.3'

## Question 2
What's the version of Pandas?

In [3]:
pd.__version__

'1.3.2'

## Getting the data

In [4]:
df = pd.read_csv('week1_cardata.csv')
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

## Question 3
What's the average price of BMW cars in the dataset?

In [5]:
bmw = df[df.Make == 'BMW']
bmw_avg = bmw['MSRP'].mean()
bmw_avg

61546.76347305389

## Question 4
Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [6]:
yr = df[df.Year >= 2015]
yr['Engine HP'].isna().sum()

51

## Question 5
Calculate the average "Engine HP" in the dataset.
Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
Now, calcualte the average of "Engine HP" again.
Has it changed?
Round both means before answering this questions. You can use the round function for that

In [7]:
eng_hp = df['Engine HP']
mean_hp_before = eng_hp.mean()
print(round(mean_hp_before))

249

In [9]:
after = eng_hp.fillna(mean_hp_before)
mean_hp_after = after.mean()
print(round(mean_hp_after))

249

As seen above, the mean before filling NAN values and after filling NAN values are same.

## Question 6
Select all the "Rolls-Royce" cars from the dataset.
Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
What's the sum of all the elements of the result?
Hint: if the result is negative, re-read the task one more time

In [45]:
rr = df[df.Make == 'Rolls-Royce']
rrdf = rr.loc[:, ['Engine HP', 'Engine Cylinders', 'highway MPG']]
x = rrdf.drop_duplicates().to_numpy()
xtx = np.dot(x.T, x)
inv = np.linalg.inv(xtx)
np.sum(inv)

0.032212320677486195

## Question 7
Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the value of the first element of w?

In [44]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
p = np.dot(inv, x.T)
w = np.dot(p, y)
w

array([ 0.19989598, 31.02612262, 31.65378877])